<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kest.ediscover">

    <uses-permission android:name="android.permission.CAMERA" />　　
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- iBeancon功能所需权限 -->;
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- 个推3.0电子围栏功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 环信 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <!-- 自动聚焦权限 -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:sharedUserId="android.uid.system"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 设置环信应用的AppKey -->
        <meta-data android:name="EASEMOB_APPKEY" android:value="1111180321228205#ediscovery" />

        <activity
            android:name=".ScanActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".QRCodeActivity"  android:launchMode="singleTop"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".WebAppActivity"  android:launchMode="singleTop"
                  android:theme="@style/Theme" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".account.LoginActivity"  android:launchMode="singleTop"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".account.RegisterActivity" android:launchMode="singleTop"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".account.LostPasswordActivity"  android:launchMode="singleTop"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".account.LostPassword2Activity"  android:launchMode="singleTop"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".account.SettingActivity"  android:launchMode="singleTop"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".account.AccountListActivity"  android:launchMode="singleTop"
                  android:screenOrientation="portrait">
        </activity>
        <!--启动页-->
        <activity android:name=".SplashActivity"  android:launchMode="singleTop"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="main.MainHomeActivity" android:launchMode="singleTop"/>

        <activity android:name=".account.AddAccountActivity"  android:launchMode="singleTop"
                  android:screenOrientation="portrait">
        </activity>
        <service
            android:name="com.kest.ediscover.service.PushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice">
        </service>

        <service android:name="com.kest.ediscover.service.PushIntentService"/>
        <receiver android:name=".receiver.NotificationReceiver"/>

        <activity android:name=".MainActivity" android:launchMode="singleTop"
                  android:theme="@style/Theme" />

        <!-- 2018/03/22 添加的原生朋友模块 -->
        <activity android:name=".FriendPage2.Activity.Frtend2Activity" android:launchMode="singleTop"
                  android:theme="@style/Theme"  />

        <activity android:name=".ChatPage.Activity.ChatActivity" android:launchMode="singleTop" />

        <activity android:name=".ChatPage.Activity.ChatListActivity" android:launchMode="singleTop"
                  android:theme="@style/Theme"/>

        <activity android:name=".FriendPage2.Activity.FriendListActivity" android:launchMode="singleTop"
                  android:theme="@style/Theme" />

        <activity android:name=".HomePage.Activity.HomeActivity" android:launchMode="singleTop"
                  android:theme="@style/Theme" />

        <activity android:name=".FriendPage2.Activity.NewFriendsActivity" android:launchMode="singleTop" />

        <activity android:name=".FriendPage2.Activity.SearchActivity" android:launchMode="singleTop"/>

        <activity android:name=".ChatPage.Activity.GroupChatActivity" android:launchMode="singleTop" />

        <activity android:name=".FriendPage2.Activity.SelectContactActivity" android:launchMode="singleTop" />
        <!--我的-->
        <activity android:name=".my.MyActivity" android:launchMode="singleTop"/>
        <!--设置界面-->
        <activity android:name=".my.settings.SettingsActivity" android:launchMode="singleTop"/>
        <!--联系客服-->
        <activity android:name=".my.settings.ContractCustomerActivity" android:launchMode="singleTop"/>
        <!--举报中心-->
        <activity android:name=".my.settings.ReportCenterActivity"
            android:launchMode="singleTop"
            />
        <!--举报首页-->
        <activity android:name=".my.settings.ReportActivity" android:launchMode="singleTop"/>


        <!--举报其它受害-->
        <activity android:name=".my.settings.ReportOtherActivity" android:launchMode="singleTop"/>

        <!--举报描述-->
        <activity android:name=".my.settings.ReportDescribeActivity" android:launchMode="singleTop"/>
<!--设置密码主界面-->
        <activity android:name=".my.settings.SettingsPWDActivity" android:launchMode="singleTop"/>
        <!--重置登录密码-->
        <activity android:name=".my.settings.ResetLoginPwdActivity" android:launchMode="singleTop"/>
        <!--设置密码的下一步-->
        <activity android:name=".my.settings.ResetPWD2Activity" android:launchMode="singleTop"/>
        <!--修改支付密码-->
        <activity android:name=".my.settings.ResetPWDActivity" android:launchMode="singleTop"/>
        <activity android:name=".my.settings.SetPWDSuccessActivity" android:launchMode="singleTop"/>
        <activity android:name=".my.settings.SetRememberPWD1Activity" android:launchMode="singleTop"/>
        <activity android:name=".my.settings.SetRememberPWD2Activity" android:launchMode="singleTop"/>
        <activity android:name=".my.settings.SetRememberPWD3Activity" android:launchMode="singleTop"/>
        <activity android:name=".my.settings.SetForgetPWDActivity" android:launchMode="singleTop"/>
        <activity android:name=".my.settings.SetForgetPWD2Activity" android:launchMode="singleTop">


        </activity>
        <activity android:name=".my.settings.SetForgetPWD3Activity" android:launchMode="singleTop"/>
        <!--换绑手机-->
        <activity android:name=".my.settings.ChangeTelActivity" android:launchMode="singleTop"/>
        <!--换绑手机成功-->
        <activity android:name=".my.settings.ChangeTelSuccessActivity" android:launchMode="singleTop"/>
<!--我的二维码-->
        <activity android:name=".my.person.MyQrCodeActivity">

        </activity>
        <!--个人信息-->
        <activity android:name=".my.person.PersonInfoActivity" android:launchMode="singleTop"/>
        <!--用户名-->
        <activity android:name=".my.person.PersonInfoNameActivity" android:launchMode="singleTop"/>
        <!--名认证-->
        <activity android:name=".my.person.AuthencationActivity" android:launchMode="singleTop"/>
        <!--添加银行卡-->
        <activity android:name=".my.bindbank.AddBank1Activity" >

        </activity>
        <activity android:name=".my.bindbank.AddBankActivity" android:launchMode="singleTop"/>
        <activity android:name=".my.bindbank.UnbindBankActivity" android:launchMode="singleTop"/>
        <activity android:name=".my.account.AccountDetailActivity" android:launchMode="singleInstance"/>
        <activity android:name=".my.account.DetailBillActivity" android:launchMode="singleInstance"/>
        <activity android:name=".my.account.TransferAccountsActivity" android:launchMode="singleInstance"/>


        <!-- 环信自己的activity     -->
        <activity android:name="com.hyphenate.easeui.ui.EaseBaiduMapActivity" />
        <activity android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity" />
        <activity android:name="com.hyphenate.easeui.ui.EaseShowNormalFileActivity" />
        <activity android:name="com.hyphenate.easeui.ui.EaseShowVideoActivity" />

        <!-- 声明SDK所需的service SDK核心功能-->
        <service android:name="com.hyphenate.chat.EMChatService" android:exported="true"/>
        <service android:name="com.hyphenate.chat.EMJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"
            />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <!-- 百度地图所需的service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3ecea51f560650b1ed8a4b99808f52e8" />

    </application>

</manifest>